
.inbox{
    height: 500px;
    margin-top: 50px;
}
img{
    width: 100%;
}
.inbox1{
    height: 150px;
   
    padding: 0px 70px;
}
h2{
    color: rgb(83, 250, 152);
    font-weight: bolder;
    font-size: 35px;
    
}
p{
    color: rgb(43, 40, 40);
    font-size: 20px;
}
h1{
    color: rgb(77, 69, 69);
    font-size: 25px;
    
}
li{
    font-size: 18px;
}
p.a{
    color: rgb(43, 40, 40);
    font-size: 20px;
    font-style: italic;

}
section{
    background-color: rgb(241, 239, 233);
   
}
.inbox2{
    background-color: rgb(70, 248, 144);
    height: 400px;
    margin: 15px 0px;
    padding: 15px;
}
.inbox3{
    height: 400px;
    margin: 15px 0px;
    padding: 70px 30px;
    text-align: center;

}

h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
p.b{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
h4{
        font-size: 20px;
        margin-top: 15px;
}
p.c{
    font-size: 15px;
}
.box{
    background-color: rgb(170, 255, 170);
    width:150px;
    position:absolute;
    bottom: 50px;
    left: 120px;
    border-radius: 10px;
    padding: 0px 25px;

}
.icon1{
    color:  rgb(70, 248, 144);
    background-color:  rgb(241, 239, 233);
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}
.icon2{
    color:  rgb(70, 248, 144);
    background-color:  rgb(241, 239, 233);
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}
.icon3{
    color:  rgb(70, 248, 144);
    background-color: rgb(241, 239, 233);
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
}
.icon4{
   color:rgb(218, 188, 19);
    padding: 20px;
    font-size: 30px;
}
.icon5{
    color:rgb(6, 72, 116);
     padding: 20px;
     font-size: 30px;
 }
 .icon6{
    color:rgb(243, 51, 51);
     padding: 20px;
     font-size: 30px;
 }
 .icon7{
    color:rgb(238, 40, 178);
     padding: 20px;
     font-size: 30px;
 }
 .icon8{
    color:rgb(52, 164, 230);
     padding: 20px;
     
     font-size: 30px;
 }
 .icon9{
     color:rgb(243, 165, 48);
      padding: 20px;
      font-size: 30px;
  }
  .icon10{
     color:rgb(58, 245, 204);
      padding: 20px;
      font-size: 30px;
  }
  .icon11{
     color:rgb(56, 35, 243);
      padding: 20px;
      font-size: 30px;}
 p{
    font-weight: bold;
    font-size: 17px;
 }
 .inbox5{
    padding:10px;
 }
 .ab{
    margin:15px ;
    background-color: rgb(242, 244, 247);
      
 }
 .bc{margin-left: 15px;
    margin-right: 15px;
    
   background-color: rgb(242, 244, 247);
 }
 .cd{
    margin:15px ;
    background-color: rgb(242, 244, 247);
      
 }
 p.d{
    font-size: 20px;
 }
 .icon12{
    color:rgb(197, 118, 0);
     padding: 20px;
     
     font-size: 30px;
 }
 .icon13{
     color:rgb(243, 33, 163);
      padding: 20px;
      font-size: 30px;
  }
  .icon14{
     color:rgb(247, 137, 48);
      padding: 20px;
      font-size: 30px;
  }
  .icon15{
     color:rgb(9, 211, 70);
      padding: 20px;
      font-size: 30px;}
   .icon16{
    font-size:25px ;
    color: rgb(119, 119, 119);
   } 
   .icon17{
    color: rgb(119, 119, 119);
    font-size: 20px;

   }
   .icon19{
    color: rgb(88, 235, 124);
   }  
.inbox6{
  margin-top: 80px;

   
}
 p.e{
    font-size: 17px;
    color: rgb(80, 76, 76);
 }
 p.o{
    font-size: 35px;
    font-weight: bold;
 
 }
 .aa{
    margin: 10px;
    width:180px;
    padding:0px 30px;
    background-color: rgb(33, 245, 114);
 }
 .bb{
    width: 40px;
    margin: 10px;
 }
 .cc{
    margin: 10px;
    width:100px;
    padding:0px 15px;
    background-color: rgb(33, 245, 114);
 }
 
 .dd{
    margin: 10px;
    width:80px;
    padding:0px 15px;
    background-color: rgb(33, 245, 114);
 }
 
 p.g{
    color: aliceblue;
   
    font-weight: lighter;
    font-size: 15px;
 }
 .inbox7{
    margin: 10px;
 }
 img{
    width: 100%;
 }
.inbox10{
    padding-left: 15px;
}
h5{
    font-weight: bolder;
    color: rgb(75, 69, 69);
    
}
p.i{
    font-size: 15px;
    color: rgb(54, 49, 49);
    font-weight: 500;
}
img.a{
    width: 90%;
    border-radius: 50%;
}
.inbox11{
    padding-left: 15%;
    margin: 0px;
}
.inbox12{
    padding-top: 10px;
    margin-left: 0px;
}
.inbox14{
    padding-top: 10px;

}
.inbox15{
    padding-top: 6px;
}
.gh{

}
.ff{
    margin-top: 70px;
}
.inbox17{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
h6{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #3a3838;
}
h6.a{
     font-size: 15px;
     font-weight: lighter;
     font-style: italic;
}
p.l{
    font-size: 14px;
    font-weight:400;
    font-style: oblique;

}
.icon18{
    font-size: 18px;
    margin: 3px;

}
p.k{
    font-weight: lighter;
}
p.j
{
    font-size: 18px;
}
span{
    color: #3a3838;
    font-weight: bold;
}
p.m
{
    font-weight: 300;
    margin-left: 10px;
    font-size: 15px;

}
.inbox18{
    margin-top: 70px;
    text-align: left;
}
h6.bb{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
li{
    font-size: 15px;
    margin: 10px;
    text-align: left;
}
h6.c{
   
    margin-left: 55px;
}
p.n{
font-size: 13px;
font-weight: 500;
margin-top: 20px;
}
.box5{
    background-color: rgb(255, 255, 255);
    height: 40px;
    margin-top: 50px;
    border-radius: 30px;
    border-color:rgb(27, 27, 27);
    border-width :.5px;
    border-style: solid;
}
.box6{
    background-color: rgb(44, 241, 103);
    height: 38px;
    width: 35%;
    border-radius: 30px;
    margin-left: 164px;
    padding: 5px;
}
p.f{
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    
}
span.x{
    color: rgb(77, 252, 106);
    font-size: 13px;
}
p.z{
    font-size: 15px;

}
span.u{
    font-size: 13px;
}

 .inbox19{
    margin-top: 70px;
    padding-right: 200px;
   

 }
 .inbox20{
    margin-top: 70px;
    text-align: right;
 }
 .icon20{
   font-size: 18px;
    background-color: rgb(110, 241, 127);
    color: azure;
    padding: 10px;
    border-radius: 50%;
   
    
    
   
 }


 .edt
 {
    background-image: url(hero-bg.jpg);
    background-attachment: fixed;
    background-size:100% ;
    background-repeat: no-repeat;
  
    
 }
 .inbox23{
    height: 400px;

    

 }
 h1.d{
    color: aliceblue;
    font-size: 60px;
    font-weight: bolder;
    font-family: calibri;
    text-align: justify;
    margin-top: 0px;
    padding-top: 0px;
    
 }
 h2.t{
    color: rgb(235, 231, 231);
    font-size: 25px;
    font-weight: 500;
 }
 section.ww{
    background-color: antiquewhite;
    position: fixed ;
    left: 0px;
    top: 0px;
    z-index: 1;

 }

 .inbox21{
   text-align: center;
    height: 50px;
 }

 .inbox22{
   
   
    text-align: center;
 }
 a.yy{
    padding: 10px 15px;
    display: inline-block;
 }

 .sec1{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.inbox23{
    padding-top:50px ;
}
a.xx{
    font-size: 30px;
    color: rgb(30, 247, 145);
    font-weight: bolder;

}
a.yy{
    font-weight: bolder;
    text-decoration: none;
    color: #4d4b4b;}
a.uu{
    background-color:rgb(30, 247, 145);
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-color: rgb(30, 247, 145);
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    color: aliceblue;
    text-decoration :none;
}

.yz{
    font-size: 20px;
    color: aliceblue;
    text-decoration :none;
}
.boxx{
    width: 150px;
    height:40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding-top: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;

}
.icon25{
    color: rgb(30, 247, 145) ;
    font-size: 20px;
}
.inbox18{
    margin-top: 120px;
}
